html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #fafafa;
}

li {
    list-style: none;
}

.one {
    display: flex;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
}

.two {
    display: flex;
    background-color: #1a1a2a;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.three {
    display: flex;
    background-color: #1a1a2a;
    ;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.heading {
    font-size: 3em;
    margin-top: -20%;
}

.heading-animation {
    animation: 2.5s fadeIn, 2s cubic-bezier(.23, .63, .05, .99) arrive;
    animation-fill-mode: forwards;
}

.navigation-bar {
    display: flex;
    position: sticky;
    height: 4rem;
    width: 100vw;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #1a1a1a;
    background-color: rgba(40, 40, 40);
    /* backdrop-filter: blur(8px); */
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    /* z-index: 99999999999; */
}

.navigation {
    display: flex;
    margin-right: 10rem;
    font-size: 2rem;
    font-weight: 400;
}

.navigation-item {
    margin-right: 3rem;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    background-color: #282828;
    width: 100vw;
}

.github {
    height: 35px;
    width: 35px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes arrive {
    0% {
        transform: translateX(100vh);
    }

    100% {
        transform: translateX(0);
    }
}

.square {
    width: 200px;
    height: 200px;
    background: orange;
}

.square-animation {
    animation: wipe-enter 2s 1;
}

@keyframes wipe-enter {
    0% {
        transform: scale(0, .025);
    }

    50% {
        transform: scale(1, .025);
    }
}